.Home .lander {
    padding: 80px 0;
    text-align: center;
}
  
.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.check-in-row {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 10px 10px 10px;
    padding: 5px;
}

.custom-alert {
    margin: auto;
    background-color: #8aafb6;
    padding: 5px;
    color: white;
    width: 100%;
    border-radius: 5px;
}